/* Reset some default styles for consistency */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Set a background color for the entire page */
  /* Set a background gradient for the entire page */
/* Set a background gradient for the entire page */
body {
    background: linear-gradient(to bottom,#158a45,  #95f173);
    font-family: Arial, sans-serif;
    color: #333;
  }

  /* Style the header/title section */
  .title {
    text-align: center;
    background-color: #349e6c;
    padding: 15px;
    border-radius: 5px;
    color: #fff;
    font-size: 2rem; /* Increase font size */
    letter-spacing: 2px; /* Add letter spacing */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    
    display: flex;
    align-items: center;
    justify-content: center;

  }
  .title img{
    border-radius: 100%;
    width: 10%;
    margin: 10px;
  }
  /* Style the main content boxes */
  .box {
    background-color: #a2d7c8;
    border: 1px solid #ccc;
    padding: 15px;
    margin: 50px;
    border-radius: 5px;
    transition: transform 0.3s, box-shadow 0.3s, opacity 0.3s;
    font-family: sans-serif;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Hover effect for the description box */
  #description:hover {
    background-color: #f8e919;
  }
  
  /* Hover effect for all boxes */
  .box:hover {
    background-color: #ff9b04;
    transform: scale(1.05);
    opacity: 0.9;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    border: 1px solid #d0d5d5;
  }
  
  /* Hover effect for #uno */
  #uno:hover {
    background-color: #f06c6c;
    transform: scale(1.05);
  }
  
  /* Hover effect for #dos */
  #dos:hover {
    background-color: #d0a1eb;
    transform: scale(1.05);
  }
  
  /* Style for headings */
    h2 {
    text-align: center;
    background-color: #349e6c;
    padding: 15px;
    border-radius: 5px;
    color: #fff;
  }
  
  /* Adjust padding for unordered list */
  ul {
    padding-left: 20px;
  }
  
  /* Add a subtle gradient to links */
  
  
  /* Hover effect for links */
  a:hover {
    background: linear-gradient(to bottom, #27ae60, #239a53);
    color: #fff;
  }
  p{
    margin-top: 10px;
  }
  .imagen {
    text-align: center; /* Centra la imagen horizontalmente */
    margin:auto;
    margin-top: 20px; /* Espaciado superior */
  }
  
  .imagen img {
    display:flex;
    margin-bottom: 50px;
    justify-content: center;
    max-width: 500px; /* Ajusta el ancho máximo de la imagen al contenedor */
    height: 350px; /* Mantiene la proporción de aspecto de la imagen */
    border-radius: 10px; /* Agrega bordes redondeados a la imagen */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Agrega una sombra suave a la imagen */
  }

  .carousel-item .imagen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ajusta la altura del carrusel a la altura de la ventana (pantalla completa) */
  }
  
  .carousel-item img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* Ajusta la imagen para que se ajuste al contenedor sin distorsionarla */
  }
 
  a{
    text-decoration: none;
    color:black;
    text-align: center;
  }
  .custom-size {
    width: 100px; /* Tamaño personalizado de las imágenes */
    height: 100px; /* Tamaño personalizado de las imágenes */
    transition: transform 0.2s ease-in-out; /* Efecto de escala al pasar el mouse */
}

.social-username {
    text-align: center; /* Centra el nombre de usuario */
    font-size: 18px; /* Tamaño de fuente del nombre de usuario */
    margin-top: 10px; /* Espacio superior entre la imagen y el nombre de usuario */
}

.social-username:hover {
    color: #f00; /* Cambia el color del nombre de usuario al pasar el mouse */
}

.social-icon:hover {
    transform: scale(1.1); /* Aumenta el tamaño de la imagen al pasar el mouse */
}