        
        *{
            margin: 0px;
            padding: 0px;
        }

        p{
            margin: 10px;
        }
        body{
            background-color: #bdcdd0;
        }
        .title h1{
            text-align: center;
            background-color:#768d92 ;
            padding: 15px;
            border-radius: 5px;
        }
        .box {
            background-color:#8ba6ac;
    
            border: 1px solid #ccc;
            padding: 10px;
            margin: 50px;
            border-radius: 5px;
            transition: background-color 0.3s, transform 0.2s;
            font-family: sans-serif;

        }

        #description:hover{
            background-color: red;
        }
        /* Efecto "hover" para las "box" */
        .box:hover {
            background-color: orange;
            transform: scale(1.05);
        }
        #uno:hover{
            background-color:green;
            transform: scale(1.05);
        }
        #dos:hover{
            background-color:purple;
            transform: scale(1.05);
        }

        /* Estilo para el encabezado */
        h1 {
            text-align: center;
            background-color:#768d92;
            background-color: ;
            padding: 15px;
            border-radius: 5px;
        }
        ul{
            padding-left: 37px;
        }